@mixin gridContainer() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(54px, auto);
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

@mixin accesibleFocus() {
  outline: $outline-focused;
  outline-offset: 0;
}
@mixin accesibleButtonFocus() {
  outline: $outline-button-focused;
  outline-offset: 0;
}
