@mixin accesibleFocus() {
  outline: $outline-focused;
  outline-offset: 0;
}
@mixin accesibleButtonFocus() {
  outline: $outline-button-focused;
  outline-offset: 0;
}
// split page in 13 grid columns, occupy 11 of them.
@mixin gridWidth() {
  max-width: calc((100vw / 15) * 11);
}
