$base-font-size: 18px;
$white: #fff;
$primary: #ffe600;
$grey-600: #2b2424;
$grey-500: #999999;
$grey-400: #eeeeee;
$blue-500: #3483fa;
$search-border: 0 rgba(0, 0, 0, 0.2);
$grid-split: 13;
$grid-coverage: 11;

// accessibility
$outline-focused: 3px solid $blue-500;
$outline-button-focused: 3px solid black;
