@import "@/styles";

.container {
  @include gridContainer();
}

.breadcrumbs {
  grid-column: 2 / 12;
  grid-row: 1;
}

.loading {
  grid-column: 2 / 13;
  align-self: center;
  justify-self: center;
}

.error {
  grid-column: 2 / 13;
  align-self: center;
  justify-self: center;
  color: $red-500;
}

.products {
  grid-column: 2 / 12;
  margin: 0px 0px 6rem 0px;
}

.productItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: $white;
  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
  }
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      text-align: center;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      height: 1px;
      width: 97%;
      border-bottom: 1px solid $grey-400;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.picture {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  margin: 0px 16px 0px 0px;
}

.productDetails {
  display: flex;
}

.price {
  font-size: 2.4rem;
  color: $grey-600;
  margin: 32px 0;
}

.title {
  font-size: 1.8rem;
  color: $grey-600;
  margin: 0;
}

.freeShipping {
  width: 18px;
  height: 18px;
  margin: 0 8px;
}

.city {
  font-size: 1.2rem;
  color: $grey-500;
  margin: 5rem 10% 0 0;
  align-self: flex-start;
}
