@import "./styles/variables";

body {
  margin: 0;
  font-family: -apple-system, Roboto, Arial, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

html {
  font-size: 10px;
  background-color: $grey-400;
}
